.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card_container{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding-top: 5rem;
}

.card{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    padding-top: 1rem;
    margin: 0 auto;
    border: 1px solid red;
    background-color: aqua;
}
