.cardWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    font-family: 'Share Tech', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    width: 400px;
    text-align: center;
    border-radius: 0.5em;
    background-color: #555555;
    /* box-shadow: 1px 1px 10px #111; */
    box-shadow: 1px 1px 15px#01F603;
    padding: 1em 1.5em;
}

.card>.price {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 27px;
    color: #01F603;
}

.price h3 {
    color: rgb(220, 220, 220)
}

.card .img {
    max-height: 15vw;
    max-width: 20vw;
    margin: 0 auto;
}

.card .imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.5vw;
    height: 15vw;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #111;
    background: white;
}

.card>.btn {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 20px;
    padding: .5em;
    border-radius: .5em;
    color: #01F603;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

.card .btn:hover {
    background-color: rgba(1, 246, 3);
    color: #fff;
    letter-spacing: 1px;
}

.card .h2 {
    /* color: rgba(1, 246, 3, 0.8); */
    color: white;
    font-size: 20px;
}

.wrapperTotal {
    display: grid;
    gap: 4rem;
    padding: 20px;
    margin: 10px;
}

.total {
    border: 1px solid red;
    padding: 10px;
    font-size: 20px;
    color: #000;
    background-color: white;
    font-weight: 800;
    position: fixed;
}