.Cardcontainer{
    box-shadow: 0 0 10px 0  rgb(56, 56, 56) ;
    width: 250px;
    height: 300px;
    /* margin: 2rem; */
    background-color: rgb(61, 180, 87);
}
.container {
    padding: 0 0 10px;
    width: 200px;
}
.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textContainer button{
    margin: 7px;
    padding: 7px;
    background-color: #01f601dc;
}
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: inherit;
    background: white;
    border-radius: 4px 4px 0 0;
}
.img{
    width: inherit;
    max-height: 170px;
    border-radius: 4px 4px 0 0;
    position: absolute;
    z-index: 3;
}
.favourite {
    margin: 10px;
    position: absolute;
    left: 72%;
    bottom: 81%;
    z-index: 4;
}
.name{
    text-align: center;
    font-size: 18px;
    font-family: 'Share Tech', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.price{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
}

.textContainer {
    margin: 10px;
}

.star{
    color: rgb(218, 200, 42); 
    position: absolute;
    font-size: 30px;
    margin: 8px;

}
.star:hover{
    color: rgb(218, 111, 78); 

}
