.navbarContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 10px 30px;
    z-index: 3;
}
.navbarContainer img {
    width: 90px;
}
.switchSearch {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 21%;
    margin-bottom: 28px;
}