.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:#efefef;
}
.options span {
    font-size: 1.2rem;
    margin: 10px;
    font-family: 'Share Tech', sans-serif;
}
.options span:hover {
    color: #01F603;
}
.options img {
    height: 24px !important;
    width: auto !important;
}
.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.onPath {
    color: #01F603;
}

.linkCart {
    display: flex;
    justify-content: space-around;
}

.cartItems {
    margin-left: 5px;
}






