.slider{
    display: flex;
    justify-content: center;
}

.sliderContainer{
    background-color: #333333ea;
}

.img{
    width: 1150px;
    height: 320px;
    object-fit: contain;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}