.slider{
    display: flex;
    justify-content: center;
}

.sliderContainer{
    padding: 2rem;
    background-color: #333333;
}

.img{
    width: 2000px;
    height: 300px;
    
    border-radius: 8px;
}